:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey: #10100e;
  --color-yellow: #ffff00;

  --spacing-medium: 20px;

  --font-family-name: sans-serif;
  
  --border-radius-small: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-grey);
  font-family: var(--font-family-name);
}